.card {
    background-color: rgb(209, 178, 178);
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
   border-spacing: 5px;
    align-items: center;
    width: 150px;
    height: 300px;
  
  }
  
img {
    width: 150px;
    height: 150px;
    /* object-fit: cover; 
    margin-bottom: 5px; */
  }
  
h3 {
  
    font-size: 22px;
    text-align: center;
  }
  